<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html' charset="utf-8" http-equiv="Content-Type" />
    <title></title>
  </head>
  <body>
    <h1>Email header!!</h1>
    <p>
      This is a test email.
      Hello <%= @user.username %>
    </p>
  </body>
</html>
